<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">Username:</label>
            <input type="username" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            

            
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Need an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
    <script>
        function login() {
            const username = document.getElementById('username').value.trim();
            const password = document.getElementById('password').value.trim();
            
            //Preverm ce je prazn text
            if (username === '' || password === '') {
                errorMessage.textContent = 'Username and Password are required!';
                errorMessage.style.display = 'block';

            }
            
            $.ajax({
                url: '/login',
                type: 'POST',
                data: {
                    username: username,
                    password: password
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = '/home';
                    
                    } else {
                        errorMessage.textContent = response.error;
                        errorMessage.style.display = 'block';
                    }
                    
                }

            })
        
        
        
        
        }

</script>
</body>
</html>
